<style>
    nav {
        height: 20vh;
        display: flex;
    }
    nav a {
        display: flex;
        align-items: center;
        justify-content: center ;
        flex: 0 0 10vw;
        background-color: olivedrab;
        margin: auto;
        color: white;
        height: 100%;
        text-decoration: none;
        transition-duration: 200ms;
        font-size: 3vh;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        text-align: center;
    }
    nav a:hover {
        background-color: wheat;
        color: brown;
    }
    #courselink {
        flex-grow: 1;
    }
</style>
<nav>
    <a href="index.html" id="logo">AHA Stack<br>Tasklist</a>
    <a href="https://flaviocopes.notion.site/AHA-Stack-Masterclass-143aaea99f25800dba44da16741ba74c" id="courselink" >Go to Course!!!</a>
    <a href="">Prerequisites</a>
    <a href="">Astro</a>
    <a href="">HTMX</a>
    <a href="">Alpine.js</a>
</nav>